<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Golang Lab</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="shortcut icon" type="image/png" href="/rubiks.png"/>
  </head>
  <body>
    <center>
    <h1>Net-Centric Lab</h1>

    <button type="button" id="back">Back To Questions</button>

    <div class="questions">
      <h2>Questions</h2>
      <br />
      <button type="button" class="btn" id="q1">Leap Year</button>
      <button type="button" class="btn" id="q2">Lived For 10^9</button>
      <button type="button" class="btn" id="q3">Sum Of Squares</button>
      <button type="button" class="btn" id="q4">Sum Of Multiples</button>
      <button type="button" class="btn" id="q5">Convert Binary</button>
      <button type="button" class="btn" id="q6">Palindrom Check</button>
      <button type="button" class="btn" id="q7">Prime Factors</button>
      <button type="button" class="btn" id="q8">Binary Search</button>
    </div>

    <div class="question_div leap_div q1">
      <input type="number" step="1">
      <br />
      <button type="button" id="leap_submit">Check Leap Year</button>
      <br />
      <p class="result"></p>
    </div>

    </center>
    <script src="./script.js"></script>
  </body>
</html>
