<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Golang Lab</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="shortcut icon" type="image/png" href="/rubiks.png"/>
  </head>
  <body>
    <center>
    <h1>Net-Centric Lab</h1>

    <button type="button" id="back">Back To Questions</button>

    <div class="questions">
      <h2>Questions</h2>
      <br />
      <button type="button" class="btn" id="q1">Leap Year</button>
      <button type="button" class="btn" id="q2">Lived For 10^9</button>
      <button type="button" class="btn" id="q3">Sum Of Squares</button>
      <button type="button" class="btn" id="q4">Sum Of Multiples</button>
      <button type="button" class="btn" id="q5">Convert Binary</button>
      <button type="button" class="btn" id="q6">Palindrom Check</button>
      <button type="button" class="btn" id="q7">Prime Factors</button>
      <button type="button" class="btn" id="q8">Binary Search</button>
    </div>

    <div class="question_div leap_div q1">
      <input type="number" step="1">
      <br />
      <button id="leap_submit">Check Leap Year</button>
      <br />
      <p class="result"></p>
    </div>

    <div class="question_div lived_div q2">
      <input type="datetime-local">
      <br />
      <button id="lived_submit">Calculate GigaSecond</button>
      <br />
      <p class="result"></p>
    </div>

    <div class="question_div squares_div q3">
      <input type="number" step="1">
      <br />
      <button id="squares_submit">Calculate difference</button>
      <br />
      <p class="result"></p>
    </div>

    <div class="question_div multiples_div q4">
      <label>Number</label>
      <input type="number" step="1">
      <br />
      <label>N</label>
      <input type="number" step="1">
      <br />
      <button id="multiples_submit">Calculate Sum</button>
      <br />
      <p class="result"></p>
    </div>

    <div class="question_div binary_div q5">
      <input type="text">
      <br />
      <button id="binary_submit">Convert Binary</button>
      <br />
      <p class="result"></p>
    </div>

    <div class="question_div palindrom_div q6">
      <input type="text">
      <br />
      <button id="palindrom_submit">Check Palindrom</button>
      <br />
      <p class="result"></p>
    </div>

    <div class="question_div prime_div q7">
      <input type="number" step="1">
      <br />
      <button id="prime_submit">Find Prime Factors</button>
      <br />
      <p class="result"></p>
    </div>

    <div class="question_div search_div q8">

    </div>

    </center>
    <script src="./script.js"></script>
  </body>
</html>
